#screen{
	height: 100vh;
	width: 100vw;
}
#values{
	background-color: red;
	width: 30vw;
	height: 100vh;
	float: left;
}
#graph{
	background-color: blue;
	width: 70vw;
	height: 100vh;
	float: right;
}
#buttons{
	width: 100%;
	height: 10%;
	float: bottom;
}